node_modules/
.wwebjs_auth/
.wwebjs_cache/
.env
*.log
data.json
*.png
.DS_Store
package-lock.json
npm-debug.log
dist/
build/
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode-test
.vscode/*.log
.DS_Store
*.vsix
